::-webkit-scrollbar {
    width: 12px; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1c1c1c00; 
    border-radius: 6px; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #55555500;
  }
  ::-webkit-scrollbar-track {
    background: #15151500; 
    border-radius: 6px;
  }
  