button {
    all: unset; /* Remove todas as configurações padrão, incluindo bordas, sombras, fontes, etc. */
    background-color: rgb(194, 194, 194);
    width: 50%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    color: #272727;
}

button:hover {
    all: unset; /* Remove todas as configurações padrão, incluindo bordas, sombras, fontes, etc. */
    background-color: rgb(132, 132, 132);
    width: 50%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: #272727;
}

button:active {
    transform: scale(0.95);
    background-color: rgb(132, 132, 132);
}